

.box{
    width: 800px;
    height: 585px;
    background:  #ffecd2;
    margin: auto;
    border: 2px solid #6b3814;
}
.icon img{ 
  float: right;
  margin-left: 18px;
  margin-right: 18px;
 margin-top: 10px;
 margin-bottom: 20px;
  width:18px;
  height:18px;
  opacity: 0.6;

}

.icon img:hover{ 
  opacity: 1.0;
}

.box a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    background: #f0c090;
    border-top: 0.5px solid black;
    border-bottom: 1px solid black;
}

.box_div{
    position: relative;
}
span{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
p{
    height: 0px;
    overflow: hidden;
    font-size: 18px;
    color:  #9b521d;
    line-height: 20px;
}
.box_div:target p{
    height: 100px;
}
.box_div:target span{
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}